/* Google font  */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style  */
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 20px 60px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    font-weight: 600;
}
.secondary-color{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
/* header  */
.header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;

}
/* nav styles  */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 120px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
.nav-link{
    display: flex;
    align-items: center;
}
.navigation ul li{
    list-style: none;
    margin-right: 50px;
}
.navigation ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
/* Banner style  */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 130px;
}
.banner-greeting{
    color: #474747;
    font-weight: bold;
    font-size: 45px;
}
.banner-title{
    font-size: 70px;
    font-weight: bold;
    color: #181818;
}
.banner-description{
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}
.banner-profile-picture{
    width: 584px;
}
/* main styles start here  */
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}
/* about section start here  */
.about{
    padding: 115px 169px 147px 144px;
    border-radius: 10px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.item-description{
    font-weight: 600;
    font-size: 20px;
}
/* skills section start here  */
.skills-section{
    margin-top: 114px;
}
.section-description{
    margin-bottom: 50px;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
/* resume container starts here  */
.resume-container{
    display: flex;
    text-align: left;
    gap: 24px;
}
.download-cv-btn{
    margin-top: 50px;
}
/* footer start here  */
footer{
    display: flex;
    background: #FFF8F3;
    gap: 100px;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-colmun{
    width: 50%;
}
.contact input, textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    border: 0;
    width: 100%;
}
.btn-width{
    width: 50px;
}